<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
       <div
        *ngIf="
         loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)
        "
        >
        {{validation.message}}
       </div>
      </ng-container>
    </div>

    <!--Agregado - ACTIVIDAD 3 V.E-->
    <ion-item> 
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.password">
       <div
        *ngIf="
          loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)
          "
          >
          {{validation.message}}
       </div>
      </ng-container>
    </div>

    <!--Agregado - Actividad 3 V.E-->
    <br><br>
    <div class="center-button">
     <ion-button class="color-button" center>Ingresar</ion-button>
    </div>

  </form>

</ion-content>
