<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center text-title">Inicio Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">

      <img src="/assets/images/logo_login.jpg" alt="">

    <ion-item style="padding-top: 10px;">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
       <div
        *ngIf="
         loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)
        "
        >
        <div style="padding-top: 14px; margin-bottom: 5px">
          <ion-badge color="danger">{{validation.message}}</ion-badge><!--Agregado - ACTIVIDAD 3 V.E-->
        </div>
       </div>
      </ng-container>
    </div>

    <!--Agregado - ACTIVIDAD 3 V.E-->
    <ion-item> 
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.password">
       <div
        *ngIf="
          loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)
          "
          >
          <div style="padding-top: 14px; margin-bottom: 5px">
            <ion-badge color="danger">{{validation.message}}</ion-badge><!--Agregado - ACTIVIDAD 3 V.E-->
          </div>
       </div>
      </ng-container>
    </div>
   
    <ion-button class="color-button"
      expand="full"
      shape=" round"
      [disabled]="!loginForm.valid"
      type="submit"
    >login</ion-button>

  </form>

  <div style="padding-top: 14px; margin-bottom: 5px">
    <ion-badge color="warning">{{errorMessage}}</ion-badge><!--Agregado - ACTIVIDAD 3 V.E-->
  </div>
  
</ion-content>

<ion-footer>
  <ion-button
    expand="full"
    shape=" round"
    color="primary"
    (click)="goToRegister()"
    >Registrate
  </ion-button>
</ion-footer>