<ion-content>

  <ion-slides pager="true" class="slide-style">

    <ion-slide>
        <h1>Slide 1</h1>
        <h2>sub titulo</h2>
        <ion-icon name="radio-outline"></ion-icon>
        <img src="assets/images/slide1.jpg"/>
        <p>Descripcion de esta imagen</p>
        
    </ion-slide>
  
    <ion-slide>
      <h1>Slide 2</h1>
      <h2>sub titulo</h2>
      <ion-icon name="radio-outline"></ion-icon>
      <img src="assets/images/slide2.jpg"/>
      <p>Descripcion de esta imagen</p>
    </ion-slide>

    <ion-slide>
      <h1>Slide 3</h1>
      <h2>sub titulo</h2>
      <ion-icon name="radio-outline"></ion-icon>
      <img src="assets/images/slide3.jpg"/>
      <p>Descripcion de esta imagen</p>
    </ion-slide>

    <ion-slide>
      <h1>Slide 4</h1>
      <h2>sub titulo</h2>
      <ion-icon name="radio-outline"></ion-icon>
      <img src="assets/images/slide4.jpg"/>
      <p>Descripcion de esta imagen</p>
    </ion-slide>

  </ion-slides>

</ion-content>  