<!-- Actividad 2 V.E -->
<ion-content>
  <ion-slides pager="true" [options]="slideOpt">
      <ion-slide *ngFor="let slide of slides">
         <!-- <ion-icon name="close-outline" (click)="finish()"></ion-icon> -->
         <ion-searchbar placeholder={{slide.placeholder}}></ion-searchbar>
         <br>
         <h1>{{slide.title}}</h1> 
         <br>
         <img src={{slide.img}}/>
         <br><br>
         <ion-icon name={{slide.icon}}></ion-icon>
        <p>{{slide.description}}</p>
      </ion-slide>
     </ion-slides>
</ion-content>
<!-- Fin Actividad 2 V.E -->