// Inicio Actividad 4 V.E

ion-content{
    --background: rgb(239, 239, 239); 
  }
  
  .color-button {
      --background: rgb(17, 173, 66);
  }
  
  .center-button{
      text-align: center;
  }
  
  .img_login{
    border-radius: 6px;
    margin-bottom: 6px;
}

// Fin Actividad 4 V.E