<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
          <ion-button (click)="goToLogin()">
          <ion-icon slot="icon-only" ios="arrow-back-circle-outline" md="arrow-back-circle-outline"></ion-icon>
        </ion-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center text-title">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">

    <!-- Inicio Actividad 4 V.E-->

    <img src="/assets/images/logo_register.jpg" alt="">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.name">
       <div
        *ngIf="
        registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)
        "
        >
        <div style="padding-top: 14px; margin-bottom: 5px">
          <ion-badge color="danger">{{validation.message}}</ion-badge>
        </div>
       </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="last_name"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.last_name">
       <div
        *ngIf="
        registerForm.get('last_name').hasError(validation.type) && (registerForm.get('last_name').dirty || registerForm.get('last_name').touched)
        "
        >
        <div style="padding-top: 14px; margin-bottom: 5px">
          <ion-badge color="danger">{{validation.message}}</ion-badge>
        </div>
       </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
       <div
        *ngIf="
        registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)
        "
        >
        <div style="padding-top: 14px; margin-bottom: 5px">
          <ion-badge color="danger">{{validation.message}}</ion-badge>
        </div>
       </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.password">
       <div
        *ngIf="
          registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)
          "
          >
          <div style="padding-top: 14px; margin-bottom: 5px">
            <ion-badge color="danger">{{validation.message}}</ion-badge>
          </div>
       </div>
      </ng-container>
    </div>

    <ion-button class="color-button" 
      expand="full"
      shape=" round"
      type="submit"
      >Registrarse
    </ion-button>


    <!-- Fin Actividad 4 V.E-->

  </form>

  <p *ngIf="!registerResult"> Registro Erroneo</p>
  <!-- <ion-badge color="danger" *ngIf="!registerResult">Registro Erroneo</ion-badge> -->

</ion-content>
