<ion-header>
  <ion-toolbar>
    <ion-title>Configuraciones</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="success-background">
  <ion-avatar (click)="takePhoto()">
    <img [src]="userImage"  *ngIf="!user.image"/>
    <img [src]="user.image"  *ngIf="user.image"/>
  </ion-avatar>

  <h1>{{user.name}} {{user.last_name}}</h1>
  <h2>{{user.email}}</h2>
  <ion-grid>
    <ion-row class="row-style row-header" >
      <ion-col>24</ion-col>
      <ion-col>{{user.following_users.length? user.following_users.length : 0 }}</ion-col>
      <ion-col id ="followee" >{{user.followed_users.length? user.followed_users.length : 0 }}</ion-col>
    </ion-row>
    <ion-row class="row-style">
      <ion-col>Canciones Favoritas</ion-col>
      <ion-col>Seguidores</ion-col>
      <ion-col>Seguidos</ion-col>
    </ion-row>
  </ion-grid>
</div>
  <br><br>
  <h2> Buscar Usuarios</h2>
  <ion-searchbar (keyup)="getUsers($event.target.value)"></ion-searchbar>
  <div class="ion-text-center" *ngIf="searching">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div  *ngIf="!users || users.length === 0">
    <h3> Opps no se encontraron usuarios</h3>
    <ion-text> {{text}} </ion-text>
  </div>
  <ion-virtual-scroll
    [items]="users"
    *ngIf="users"
  >
  <ion-item *virtualItem="let user">
    {{user.name}} {{user.last_name}}
    <ion-buttons slot="end">
      <ion-button (click)="followUser(user.id)" *ngIf="!user.follow">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="unfollowUser(user.id)" *ngIf="user.follow"> <!-- Actividad Clase 13 25-07-2022 -->
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button> <!-- Fin Actividad Clase 13 25-07-2022 -->
    </ion-buttons>
  </ion-item>
  </ion-virtual-scroll>
</ion-content>